on init
    write /sys/class/leds/lcd-backlight/brightness 255
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1

on post-fs
    # Support A/B feature for emmc boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b
    
service init-recovery-mt6765-sh /init.recovery.mt6765.sh
    user root
    group root
    seclabel u:r:recovery:s0
